#footer-nav-container, 
#footer-nav-container:before, 
#footer-nav-container:after, 
#footer-nav-container *, 
#footer-nav-container * :before, 
#footer-nav-container * :after 
{
    margin: 0;
}

/* #footer-nav-container .ac-gf-more-block {
    margin-top:.5em
} */

#footer-nav-container {
    font-size: 12px;
    font-weight: 400;
    background-color: #f5f5f7;
    color: #1d1d1f;
    min-width: 1024px;
    overflow: hidden;
    position: relative;
    z-index:1
}

@media only screen and (max-width: 1044px) {
    #footer-nav-container {
        min-width:320px
    }
}

#footer-nav-container a {
    color: #515154;
    text-decoration:none
}

#footer-nav-container a:hover {
    color: #1d1d1f;
    text-decoration:underline
}

#footer-nav-container .footer-container {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
}

/* @media only screen and (max-width: 767px) {
    #footer-nav-container .footer-container {
        padding:0 16px
    }
} */

#footer-nav-container .footer-notice {
    border-bottom: 1px solid #d2d2d7;
    color: #86868b;
    padding:17px 0 11px
}

#footer-nav-container .footer-notice ul {
    list-style: none;
    margin:0
}

#footer-nav-container .footer-notice p, #footer-nav-container .footer-notice li {
    font-size: 12px;
}

#footer-nav-container .footer-notice small {
    font-size:1em
}

#footer-nav-container .footer-watch {
    padding: 17px 0;
    position: relative;
    z-index: 1;
    color:#515154
}

@media only screen and (max-width: 767px) {
    #footer-nav-container .footer-watch {
        border-bottom:1px solid #d2d2d7
    }
    #footer-nav-container .footer-container {
        padding:0 16px
    }
    #footer-nav-container .footer-nav-block {
        flex-direction:column
    }
    #footer-nav-container .footer-block {
        flex-basis:auto
    }
    #footer-nav-container .footer-block-section {
        position: relative;
        z-index: 1;
        border-bottom: 1px solid #d2d2d7;
        overflow: hidden;
    }
    #footer-nav-container .footer-block-section ~ .footer-block-section {
        padding-top:0
    }
}

#footer-nav-container .footer-watch-home {
    left: 0;
    position: absolute;
    z-index: 2;
    top:17px
}

#footer-nav-container .footer-watch-home-icon {
    width: 14px;
    height: 72px;
    background-size: 14px 72px;
    background-repeat: no-repeat;
    background-image: url("img/icon_large5.svg");
    height: 18px;
    display: block;
    position: relative;
    z-index: 2;
    color: transparent;
    background-position-y:-36px
}
#footer-nav-container .footer-watch-home:hover {
    text-decoration:none
}

#footer-nav-container .footer-watch-path {
    font-size: 12px;
    font-weight: 400;
}

#footer-nav-container .footer-watch-path::before, #footer-nav-container .footer-watch-path::after {
    content: ' ';
    display:table
}

#footer-nav-container .footer-watch-path::after {
    clear:both
}

#footer-nav-container .footer-watch-list {
    padding-left: 25px;
    list-style:none
}

#footer-nav-container .footer-watch-item:before {
    width: 8px;
    background-image: url("img/icon_large6.svg");
    margin-right: 11px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 18px;
}


#footer-nav-container .footer-nav-block {
    font-size: 12px;
    font-weight: 400;
    display: flex;
    flex-wrap: nowrap;
    padding-top:20px;
    color: #b1b1b4;
}

#footer-nav-container .footer-nav-block:last-child {
    padding-bottom:28px
}

/* @media only screen and (max-width: 767px) {
    #footer-nav-container .footer-nav-block {
        flex-direction:column
    }
} */

#footer-nav-container .footer-block {
    flex-basis:25%
}

/* @media only screen and (max-width: 767px) {
    #footer-nav-container .footer-block {
        flex-basis:auto
    }
} */

/* @media only screen and (max-width: 767px) {
    #footer-nav-container .footer-block-section {
        position: relative;
        z-index: 1;
        border-bottom: 1px solid #d2d2d7;
        overflow: hidden;
    }
} */

#footer-nav-container .footer-block-section ~ .footer-block-section {
    padding-top:24px
}

@media only screen and (max-width: 767px) {
    #footer-nav-container .footer-block-section ~ .footer-block-section {
        padding-top:0
    }
}

#footer-nav-container .footer-block-title {
    font-size: 12px;
    font-weight: 600;
    margin-right: 20px;
    margin-bottom:10px;

}


@media only screen and (max-width: 767px) {
    #footer-nav-container .footer-block-title {
        font-weight: 400;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        background: #f5f5f7;
        cursor: pointer;
        position: relative;
        z-index:2
    }

    #footer-nav-container .footer-block-title:after {
        content: '+';
        float: right;
        font-size: 14px;
        font-weight: normal;
    }
}

@media only screen and (max-width: 767px) {
    #footer-nav-container .block-list {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: -1;
        transform:translateY(-100px)
    }
}

#footer-nav-container .block-category {
    display: block;
    pointer-events: auto;
    margin-bottom:10px;
}

@media only screen and (max-width: 767px) {
    #footer-nav-container .block-category {
        margin-bottom:0
    }
}

#footer-nav-container .block-category:last-child {
    margin-bottom:0
}

@media only screen and (max-width: 767px) {
    #footer-nav-container .category-link {
        padding: 6px 14px;
        display:block
    }
}


#footer-nav-container .footer-state {
    display:none
}

@media only screen and (max-width: 767px) {
    #footer-nav-container .footer-state:target + .footer-block-section .footer-block-title:after, #footer-nav-container .footer-state:checked + .footer-block-section .footer-block-title:after {
        transform:rotate(45deg) scale(1.08)
    }

    #footer-nav-container .footer-state:target + .footer-block-section .block-list, #footer-nav-container .footer-state:checked + .footer-block-section .block-list {
        position: static;
        visibility: visible;
        z-index: 1;
        transform: none;
        transition: transform 300ms ease;
    }
}

#footer-nav-container .footer-watch + .footer-nav-block {
    padding-top:0
}

#footer-nav-container .footer-note-shop a {
    color:#06c
}

#footer-nav-container .place {
    float: right;
    margin-top: 5px;
    position: relative;
    top: -3px;
    z-index: 2;
    white-space:nowrap
}

@media only screen and (max-width: 767px) {
    #footer-nav-container .place {
        float:none
    }
}

#footer-nav-container .company-info::before, #footer-nav-container .company-info::after {
    content: ' ';
    display:table
}

#footer-nav-container .company-info::after {
    clear:both
}

@media only screen and (max-width: 767px) {
    #footer-nav-container .company-info {
        padding-top:12px
    }
}

#footer-nav-container .company-info-copyright, #footer-nav-container .company-info-links {
    margin-right: 30px;
    float: left;
    margin-top:5px
}

@media only screen and (max-width: 767px) {
    #footer-nav-container .company-info-copyright, #footer-nav-container .company-info-links {
        margin-right: 0;
        float:none
    }
}


#footer-nav-container .company-info-link {
    border-right: 1px solid #d2d2d7;
    margin-right: 7px;
    padding-right: 10px;
    display: inline-block;
}

#footer-nav-container .footer-nav-block + .footer-note {
    padding-top: 34px;
    border-top:none
}