@media only screen and (max-width: 1068px) and (min-width: 768px) {
	.second-section .match-goods-se .match-goods-img {
		width: 162px;
		height: 192px;
		background-size: 162px 192px;
		background-image: url(img/compare_se__crebhd9hhdea_large_2x.jpg);
    }
    .second-section .match-goods-series-3 .match-goods-img {
		width: 156px;
		height: 192px;
		background-size: 156px 192px;
		background-image: url(img/compare_s3__clzj8ukygo5e_large_2x.jpg);
    }
    .second-section .match-goods-series-6 .match-goods-img {
		width: 165px;
		height: 192px;
		background-size: 165px 192px;
		background-image: url(img/compare_s6__evsi0wlzp4ya_large_2x.jpg);
    }
    .section.first-section .goods-price {
		margin: 14px auto 30px;
    }
    .goods-series-6 .goods-content {
		padding: 74px 50px 73px;
    }
    .section.first-section .goods.goods-se .goods-content {
		padding: 74px 0 73px;
    }
    /* .section-more .goods-one .goods-image {
		padding-right: 59px;
    } */
    .buy-container-top .get-goods-items {
		font-size: 17px;
    }
    .section-more .goods-one .goods-image .image-one {
		width: 253px;
		height: 225px;
		background-size: 253px 225px;
    }
    .image-se {
		background-size: 358px 350px;
		background-image: url("img/tile-watch-se__knji2d25x8qe_large_2x.jpg");
    }
    .image-series-6 {
		width: 227px;
        height: 323px;
		background-size: 227px 323px;
		background-image: url("img/tile_watch_s6__bbw92knen8mq_large_2x.jpg");
    }
    .third-section .goods-diff .goods-image .goods-diff-img {
		background-size: 702px 446px;
		background-image: url("img/tile_watchos7__fs1gp8e4poq6_large_2x.jpg");
    }
    .section-more .goods-apple-pay {
		padding: 0 20px 0 30px;
    }
    .section-more .goods-apple-pay .pasmo-logo-img {
		width: 54px;
		height: 23px;
		background-size: 54px 23px;
		background-repeat: no-repeat;
		background-image: url("img/logo__b983zltyih5y_large_2x.png");
    }
    .section-more .goods-apple-pay .goods-image {
		padding-left: 25px;
    }
    .section-more .goods-apple-pay .goods-image .pasmo-img {
		width: 340px;
		height: 416px;
		background-size: 340px 416px;
		background-repeat: no-repeat;
		background-image: url("img/tile__b1uni0uggqia_small_2x.jpg");
    }
    .section-more .goods-apple-pay .goods-content .goods-content-wrapper {
		padding-left: 40px;
    }
    .goods-apple-pay .pasmo-first-text {
		font-size: 25px;
		font-weight: 600;
    }
    .pasmo-first-text {
		font-size: 14px;
		font-weight: 400;
    }
    .gift-goods-img {
		width: 297px;
		height: 286px;
		background-size: 297px 286px;
		background-repeat: no-repeat;
		background-image: url("img/aos_holiday_watch_family_hero__d6nskvoyidqq_small_2x.jpg");
		margin: 0 auto;
	}
	.section-more .goods-one .one-logo-img {
        width: 100%;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
		background-image: url("img/logo-apple-one__cwtz6e3tcscy_large_2x.png");
		background-position: center;
	}
	.three-rings-img {
        width: 277px;
        height: 279px;
        background-size: 277px 279px;
        background-repeat: no-repeat;
	}
	.apple-music-logo {
        width: 90px;
        height: 15px;
        background-size: 60px 15px;
        background-repeat: no-repeat;
	}
	.section-compare .goods-content-wrapper {
        width:unset
	}

	.gift-small-text {
        margin-top: 20px;
        margin-bottom:20px
	}
	.gift-goods-img {
        width: 297px;
        height: 286px;
        background-size: 297px 286px;
        background-repeat: no-repeat;
	}
	.gift-goods-img {
        margin-top:0
	}
	.gift-goods-img::after {
        content: '';
        display: block;
        padding-bottom:96.2963%
	}
	.third-section .goods-diff .goods-content {
        margin-top:-210px
	}
	.third-section .goods-diff .goods-content .goods-content-wrapper {
        padding-bottom:20px
	}
	.third-section .goods-diff .goods-image .goods-diff-img {
        left: 50%;
        margin-left:-351px
	}
	.fourth-section .applewatch-title {
        font-size: 40px;
        line-height: 1.15;
        font-weight: 600;
		letter-spacing: .009em;
		padding-bottom: 0;
        padding-top:0;
	}
	.fourth-section .goods-bands .new-band-img {
        width: 362px;
        height: 290px;
        background-size: 362px 290px;
        background-repeat: no-repeat;
        background-image: url("img/tile_bands_winter__dr3z2qgi0z2a_large_2x.jpg")
	}
	.goods-airpods .goods-image {
        padding:16px 0
	}
	.goods-apple-card .goods-content-wrapper {
        padding-top:65px
	}
	.section-more .goods-one .goods-image {
        padding-left:60px;
        margin:86px 0 71px;
	}
	.section-more .goods-one .goods-content {
        margin-top: 10px;
        margin-right:25px
	}
	.section-more .goods-one .goods-content .goods-content-wrapper p.goods-copy {
        max-width: 300px;
        margin-left: auto;
		margin-right:auto;
		font-size: 19px;
        line-height: 1.4211;
        font-weight: 400;
        letter-spacing: .0075em;
	}
	.section-more .goods-one .goods-for-link {
        margin:14px 15px 15px
	}
	.goods-three-rings {
        padding:35px 0
	}
	.goods-three-rings .goods-content-wrapper {
        width:310px
	}
	.goods-discount .goods-content {
        width:400px
	}
	.base .base-content {
        max-width:790px
	}
	
	.goods-big-text {
        font-size: 26px;
        font-weight: 600;
	}
	.section.first-section .goods-copy {
        margin-top:10px
	}
	.section.first-section .goods.goods-se {
        padding:50px 0 10px 0
	}
	.section-more > .applewatch-title {
        font-size: 40px;
        font-weight: 600;
	}
	.goods-top-title, .goods-bands .goods-top-title, .goods-airpods .goods-top-title, .airpods-only-you .goods-top-title, .goods-three-rings .goods-top-title {
        font-size: 40px;
        font-weight: 600;
	}
	.third-section .goods-diff .goods-image .goods-diff-img {
        width: 702px;
        height: 446px;
        background-size: 702px 446px;
        background-repeat: no-repeat;
	}
	.third-section .gift-img-wrapper {
		width: 50%;
	}
	/* .goods-content-wrapper {
        width:400px;
	} */
	.goods-reason .goods-reason-image {
		margin-left: 4%;
	}
	.buy-container-top .get----item-title {
		font-size: 18px;
	}
	.get----items .get---small-text {
		font-size: 13px;
	}
	.section-more .goods-one .goods-image .one-img {
		width: 253px;
		height: 225px;
		background-size: 253px 225px;
	}
}