@media only screen and (max-width: 1068px) {
	.section-shared-compare .compare-item-se .compare-item-image {
		width: 162px;
		height: 192px;
		background-size: 162px 192px;
		background-image: url("img/compare_se__crebhd9hhdea_medium.jpg");
    }
    .section-shared-compare .compare-item-series-3 .compare-item-image {
		width: 156px;
		height: 192px;
		background-size: 156px 192px;
		background-image: url("img/compare_s3__clzj8ukygo5e_medium.jpg");
    }
    .section-shared-compare .compare-item-series-6 .compare-item-image {
		width: 165px;
		height: 192px;
		background-size: 165px 192px;
		background-image: url("img/compare_s6__evsi0wlzp4ya_medium.jpg");
    }
    body.page-nike
		.section-shared-compare
		.compare-item-series-6
		.compare-item-image {
		background-size: 278px 330px;
		background-image: url("img/compare_nike_s6__d8uac68bce2q_medium.jpg");
    }
    body.page-nike .section-shared-compare .compare-item-se .compare-item-image {
		background-size: 281px 335px;
		background-image: url("img/compare_nike_se__ge8v73rsxvyq_medium.jpg");
    }
    .section-compare-expanded .compare-item-series-6 .compare-item-image {
		background-image: url("img/light_s6__cfkta09zb02q_medium.jpg");
    }
    .section-compare-expanded .compare-item-se .compare-item-image {
		background-image: url("img/light_se__cq8ccuo2peoi_medium.jpg");
    }
    .section-compare-expanded .compare-item-series-3 .compare-item-image {
		background-image: url("img/light_s3__4viszm45e6aa_medium.jpg");
    }
    .section-compare-expanded .compare-item-nike .compare-item-image {
		background-image: url("img/light_nike__fkga41wbp4i2_medium.jpg");
    }
    .section-compare-expanded .compare-item-hermes .compare-item-image {
		background-image: url("img/light_hermes__e15p1ebs58wi_medium.jpg");
    }
    .section-configure .partner-hermes-copy .medium-hide,
	.section-configure .partner-nike-copy .medium-hide {
		display: none;
    }
    .page-hermes .section-configure-wrapper .configure-item-case {
		background-size: 250px 386px;
		background-image: url("img/hermes-cto-case__dgg4277i9oa6_medium.png");
    }
    .page-nike .section-configure-wrapper .configure-item-case {
		background-size: 250px 386px;
		background-image: url("img/nike-cto-case__dmqw3dizfeye_medium.png");
    }
    .page-watch:not(.page-se) .section-configure-wrapper .configure-item-case {
		background-size: 250px 386px;
		background-image: url("img/watch-cto-case__dm8sxecyffma_medium.png");
    }
    .page-s6 .section-configure-wrapper .configure-item-case {
		width: 250px;
		height: 386px;
		background-size: 250px 386px;
		background-image: url("img/s6-cto-case__fa0yi0iqnfyq_medium.png");
    }
    .section-configure .partner-hermes-copy .medium-hide,
	.section-configure .partner-nike-copy .medium-hide {
		display: none;
    }
    .page-hermes .section-configure-wrapper .configure-item-case {
		background-size: 250px 386px;
		background-image: url("img/hermes-cto-case__dgg4277i9oa6_medium.png");
    }
    .page-nike .section-configure-wrapper .configure-item-case {
		background-size: 250px 386px;
		background-image: url("img/nike-cto-case__dmqw3dizfeye_medium.png");
    }
    .page-watch:not(.page-se) .section-configure-wrapper .configure-item-case {
		background-size: 250px 386px;
		background-image: url("img/watch-cto-case__dm8sxecyffma_medium.png");
    }
    .page-s6 .section-configure-wrapper .configure-item-case {
		width: 250px;
		height: 386px;
		background-size: 250px 386px;
		background-image: url("img/s6-cto-case__fa0yi0iqnfyq_medium.png");
    }
    .section.section-models .tile-price {
		margin: 14px auto 30px;
    }
    .tile-series-6 .tile-content {
		padding: 74px 50px 73px;
    }
    .tile-series-6 .tile-headline {
		margin-top: 0.8em;
    }
    .tile-se .tile-headline {
		margin-top: 0.8em;
    }
    .section.section-models .tile.tile-se .tile-content {
		padding: 74px 0 73px;
    }
    .section-more .tile-one .tile-image {
		padding-right: 59px;
    }
    .buystrip-elevated .buystrip-items {
		font-size: 17px;
    }
    .section-more .tile-one .tile-image .image-one {
		width: 253px;
		height: 225px;
		background-size: 253px 225px;
		background-image: url("img/tile_apple_one__dv857y6v8dyu_medium.jpg");
    }
    .tile-power-of-plus .image-power-of-plus {
		background-size: 362px 317px;
		background-image: url("img/tile_power_of_plus__lmyedbcfwtei_medium.jpg");
    }
    .image-se {
		background-size: 358px 350px;
		background-image: url("img/tile-watch-se__knji2d25x8qe_medium.jpg");
    }
    .image-series-6 {
		background-size: 227px 323px;
		background-image: url("img/tile_watch_s6__bbw92knen8mq_medium_2x.jpg");
    }
    .tile-why-watch .image-why-watch {
		background-size: 584px 344px;
		background-image: url("img/tile_why_watch__bzxlfokkvj36_medium.jpg");
    }
    .section-options .tile-wwdc .tile-image .image-wwdc {
		background-size: 702px 446px;
		background-image: url("img/tile_watchos7__fs1gp8e4poq6_medium.jpg");
    }
    .section-options .tile-wwdc .tile-image .image-wwdc {
		background-image: url("img/tile_watchos7__fs1gp8e4poq6_medium_2x.jpg");
    }
    .section-more .tile-apple-pay {
		padding: 0 20px 0 30px;
    }
    .section-more .tile-apple-pay .image-apple-pay-logo {
		width: 54px;
		height: 23px;
		background-size: 54px 23px;
		background-repeat: no-repeat;
		background-image: url("img/logo__b983zltyih5y_medium.png");
    }
    .section-more .tile-apple-pay .tile-image {
		padding-left: 25px;
    }
    .section-more .tile-apple-pay .tile-image .image-apple-pay {
		width: 340px;
		height: 416px;
		background-size: 340px 416px;
		background-repeat: no-repeat;
		background-image: url("img/tile__b1uni0uggqia_medium.jpg");
    }
    .section-more .tile-apple-pay .tile-content .tile-content-wrapper {
		padding-left: 40px;
    }
    .tile-apple-pay .tile-subheadline {
		font-size: 32px;
		line-height: 1.21875;
		font-weight: 600;
		font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
			"Arial", sans-serif;
    }
    .typography-tile-copy {
		font-size: 17px;
		line-height: 1.47059;
		font-weight: 400;
    }
    .holiday-2020__image {
		width: 297px;
		height: 286px;
		background-size: 297px 286px;
		background-repeat: no-repeat;
		background-image: url("img/aos_holiday_watch_family_hero__d6nskvoyidqq_medium.jpg");
    }
    .holiday-2020__image {
		margin-top: 0;
	}
}