@media only screen and (max-width: 1068px) and (min-width: 768px) {
	.section-shared-compare .compare-item-se .compare-item-image {
		width: 162px;
		height: 192px;
		background-size: 162px 192px;
		background-image: url(img/compare_se__crebhd9hhdea_large_2x.jpg);
    }
    .section-shared-compare .compare-item-series-3 .compare-item-image {
		width: 156px;
		height: 192px;
		background-size: 156px 192px;
		background-image: url(img/compare_s3__clzj8ukygo5e_large_2x.jpg);
    }
    .section-shared-compare .compare-item-series-6 .compare-item-image {
		width: 165px;
		height: 192px;
		background-size: 165px 192px;
		background-image: url(img/compare_s6__evsi0wlzp4ya_large_2x.jpg);
    }
    .section.section-models .tile-price {
		margin: 14px auto 30px;
    }
    .tile-series-6 .tile-content {
		padding: 74px 50px 73px;
    }
    .tile-series-6 .tile-headline {
		margin-top: 0.8em;
    }
    .tile-se .tile-headline {
		margin-top: 0.8em;
    }
    .section.section-models .tile.tile-se .tile-content {
		padding: 74px 0 73px;
    }
    .section-more .tile-one .tile-image {
		padding-right: 59px;
    }
    .buystrip-elevated .buystrip-items {
		font-size: 17px;
    }
    .section-more .tile-one .tile-image .image-one {
		width: 253px;
		height: 225px;
		background-size: 253px 225px;
    }
    .image-se {
		background-size: 358px 350px;
		background-image: url("img/tile-watch-se__knji2d25x8qe_large_2x.jpg");
    }
    .image-series-6 {
		width: 227px;
        height: 323px;
		background-size: 227px 323px;
		background-image: url("img/tile_watch_s6__bbw92knen8mq_large_2x.jpg");
    }
    .section-options .tile-wwdc .tile-image .image-wwdc {
		background-size: 702px 446px;
		background-image: url("img/tile_watchos7__fs1gp8e4poq6_large_2x.jpg");
    }
    .section-more .tile-apple-pay {
		padding: 0 20px 0 30px;
    }
    .section-more .tile-apple-pay .image-apple-pay-logo {
		width: 54px;
		height: 23px;
		background-size: 54px 23px;
		background-repeat: no-repeat;
		background-image: url("img/logo__b983zltyih5y_large_2x.png");
    }
    .section-more .tile-apple-pay .tile-image {
		padding-left: 25px;
    }
    .section-more .tile-apple-pay .tile-image .image-apple-pay {
		width: 340px;
		height: 416px;
		background-size: 340px 416px;
		background-repeat: no-repeat;
		background-image: url("img/tile__b1uni0uggqia_small_2x.jpg");
    }
    .section-more .tile-apple-pay .tile-content .tile-content-wrapper {
		padding-left: 40px;
    }
    .tile-apple-pay .tile-subheadline {
		font-size: 25px;
		font-weight: 600;
    }
    .typography-tile-copy {
		font-size: 14px;
		font-weight: 400;
    }
    .holiday-2020__image {
		width: 297px;
		height: 286px;
		background-size: 297px 286px;
		background-repeat: no-repeat;
		background-image: url("img/aos_holiday_watch_family_hero__d6nskvoyidqq_small_2x.jpg");
		margin: 0 auto;
	}
	.section-more .tile-one .image-one-logo {
        width: 100%;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
		background-image: url("img/logo-apple-one__cwtz6e3tcscy_large_2x.png");
		background-position: center;
	}
	.image-three-rings {
        width: 277px;
        height: 279px;
        background-size: 277px 279px;
        background-repeat: no-repeat;
	}
	.image-apple-music-logo {
        width: 90px;
        height: 15px;
        background-size: 60px 15px;
        background-repeat: no-repeat;
	}
	.section-compare .tile-content-wrapper {
        width:unset
	}
	.section-compare .tile-headline {
        font-size: 40px;
        line-height: 1.1;
        font-weight: 600;
        letter-spacing: 0em;
	}
	.section-compare .tile-headline {
        font-size: 32px;
        line-height: 1.125;
        font-weight: 600;
        letter-spacing: .004em;
	}
	

	.holiday-2020__content--copy {
        margin-top: 20px;
        margin-bottom:20px
	}
	.holiday-2020__image {
        width: 297px;
        height: 286px;
        background-size: 297px 286px;
        background-repeat: no-repeat;
	}
	.holiday-2020__image {
        margin-top:0
	}
	.holiday-2020__image::after {
        content: '';
        display: block;
        padding-bottom:96.2963%
	}
	.tile-mothers-day .copy-content {
        margin-left:5px
	}
	.section-options .tile-wwdc .tile-content {
        margin-top:-210px
	}
	.section-options .tile-wwdc .tile-content .tile-content-wrapper {
        padding-bottom:20px
	}
	.section-options .tile-wwdc .tile-image .image-wwdc {
        left: 50%;
        margin-left:-351px
	}
	.section-essentials .section-headline {
        font-size: 40px;
        line-height: 1.15;
        font-weight: 600;
		letter-spacing: .009em;
		padding-bottom: 0;
        padding-top:0;
	}
	.section-essentials .tile-bands .image-bands-winter {
        width: 362px;
        height: 290px;
        background-size: 362px 290px;
        background-repeat: no-repeat;
        background-image: url("img/tile_bands_winter__dr3z2qgi0z2a_large_2x.jpg")
	}
	.tile-airpods .tile-image {
        padding:16px 0
	}
	.section-buystrip .buystrip-item-content {
        padding-left: 18px;
        padding-right:18px
	}
	.tile-apple-card .tile-content-wrapper {
        padding-top:65px
	}
	.section-more .tile-one .tile-image {
        padding-left:25px;
        margin:86px 0 71px;
	}
	.section-more .tile-one .tile-content {
        margin-top: 10px;
        margin-right:25px
	}
	.section-more .tile-one .tile-content .tile-content-wrapper p.tile-copy {
        max-width: 300px;
        margin-left: auto;
		margin-right:auto;
		font-size: 19px;
        line-height: 1.4211;
        font-weight: 400;
        letter-spacing: .0075em;
	}
	.section-more .tile-one .tile-cta {
        margin:14px 15px 15px
	}
	.tile-three-rings {
        padding:35px 0
	}
	.tile-three-rings .tile-content-wrapper {
        width:310px
	}
	.tile-discount .tile-content {
        width:285px
	}
	.acmi-ribbon .ribbon-content {
        max-width:790px
	}
	
	.typography-headline {
        font-size: 40px;
        font-weight: 600;
	}
	.section.section-models .tile-copy {
        margin-top:10px
	}
	.section.section-models .tile.tile-se {
        padding:50px 0 10px 0
	}
	.section-more > .section-headline {
        font-size: 40px;
        line-height: 1.15;
        font-weight: 600;
        letter-spacing: -.025em;
    }
}