@media only screen and (max-width: 734px) {
	.section.first-section .goods-content {
		order: 2;
	}
	.second-section .match-goods-se .match-goods-img {
		width: 126px;
		height: 150px;
		background-size: 126px 150px;
		background-image: url("img/compare_se__crebhd9hhdea_small_2x.jpg");
    }
    .second-section .match-goods-series-3 .match-goods-img {
		width: 120px;
		height: 150px;
		background-size: 120px 150px;
		background-image: url("img/compare_s3__clzj8ukygo5e_small_2x.jpg");
    }
    .second-section .match-goods-series-6 .match-goods-img {
		width: 130px;
		height: 150px;
		background-size: 130px 150px;
		background-image: url("img/compare_s6__evsi0wlzp4ya_small_2x.jpg");
	}
	.image-se {
		background-size: contain;
	}
	.second-section .match-goods-se .feature-retina {
		margin-bottom: 0;
		padding-top: 20px;
	}

	.second-section .feature-heart-rate {
		padding-top: 20px;
		margin-bottom: 20px;
	}
    .section.first-section .goods-price {
		margin-bottom: 20px;
    }
    .goods-series-6 .goods-content {
		padding: 60px 0;
		width: unset;
    }
    .goods-series-6 .goods-top-title {
		margin-top: 0.8em;
    }
    .section.first-section .goods.goods-se .goods-content {
		padding: 0;
		width: 100%;
    }
    /* .goods-se .goods-top-title {
		margin-top: 0.8em;
    } */
    .section-more .goods-one .goods-image {
		padding-right: 0;
    }
    .goods-series-6 .goods-content {
		width: 100%;
	}
	.section-more .goods-one .goods-content .goods-content-wrapper {
		width: 100%;
	}
	.section-more .goods-one .goods-content {
		width: 100%;
    }
    .goods-discount .goods-content-wrapper {
		width: 100%;
	}
	.goods-discount .goods-content {
		width: 100%;
		padding: 58px 0 36px;
    }
    .section-more .goods-one .goods-image .one-img {
		width: 205px;
		height: 182px;
		background-size: 205px 182px;
		background-image: url("img/tile_apple_one__dv857y6v8dyu_small_2x.jpg");
    }
    .image-series-6 {
		background-size: 224px 318px;
		background-image: url("img/tile_watch_s6__bbw92knen8mq_small.jpg");
    }
    .third-section .goods-diff .goods-image .goods-diff-img {
		background-size: 414px 611px;
		background-image: url("img/tile_watchos7__fs1gp8e4poq6_small_2x.jpg");
    }
    .section-more .goods-apple-pay {
		padding: 52px 0 0;
	}
	.section-more .goods-apple-pay .goods-content {
		width: 100%;
	}
	.section-more .goods-apple-pay .goods-content .goods-content-wrapper {
		padding-right: 5%;
		padding-left: 5%;

	}
    .section-more .goods-apple-pay .pasmo-logo-img {
		width: 54px;
		height: 23px;
		background-size: 54px 23px;
		background-repeat: no-repeat;
		background-image: url("img/logo__b983zltyih5y_small_2x.png");
    }
    .section-more .goods-apple-pay .goods-image {
		padding-left: 0;
    }
    .section-more .goods-apple-pay .goods-image .pasmo-img {
		width: 414px;
		height: 418px;
		background-size: 414px 418px;
		background-repeat: no-repeat;
		background-image: url("img/tile__b1uni0uggqia_small_2x.jpg");
    }
    .goods-apple-pay .pasmo-first-text {
		margin: 20px 0 0;
		max-width: 100%;
		font-size: 2rem;
		font-weight: 900;
	}
	.pasmo-first-text {
		font-size: 15px;
		margin-top: 10px;
	}
    .gift-goods-img {
		background-repeat: no-repeat;
		background-image: url("img/aos_holiday_watch_family_hero__d6nskvoyidqq_small_2x.jpg");
		background-size: contain;
		width: 90%;
		height: auto;
		margin: 58px auto 0;
	}
	.section-compare .goods-content {
        width:75%
	}
	.goods-content {
        width:100%
	}
	.pasmo-wrapper {
        width:278px
	}
	.pasmo-wrapper2 {
        width:278px
	}


	.gift-for-someone {
        flex-direction: column;
        padding:4rem 3rem;
	}
	.gift-for-someone-content {
        text-align: center;
        margin-top:0
	}
	.gift-big-text {
        font-size: 32px;
        line-height: 1.125;
        font-weight: 600;
        letter-spacing: .004em;
	}
	.gift-small-text {
        font-size: 17px;
        line-height: 1.47059;
        font-weight: 400;
        letter-spacing: -.022em;
	}
	.gift-small-text {
        margin-top: 12px;
        margin-bottom:13px
	}
	.gift-goods-img::after {
        content: '';
        display: block;
        padding-bottom: 95%;
	}
	.third-section .goods-diff .goods-content {
        margin-top: -400px;
	}
	.third-section .goods-diff .goods-content .goods-content-wrapper {
        padding-bottom: 60px;
        padding-top: 160px;
        width:initial
	}
	.third-section .goods-diff .goods-image .goods-diff-img {
        left: 50%;
        margin-left: -210px;
	}
	.fourth-section .applewatch-title {
        font-size: 40px;
        font-weight: 600;
        padding-top: 45px;
        padding-bottom:40px;
    }

	.fourth-section .goods-bands .new-band-img {
        width: 415px;
        height: 290px;
        background-size: 415px 290px;
        background-repeat: no-repeat;
        background-image: url("img/tile_bands_winter__dr3z2qgi0z2a_small.jpg")
	}
	.goods-airpods .goods-image {
        padding:0
	}
	.fifth-section .get----item-content {
        max-width: 275px;
        padding-left: 0;
        padding-right:0
	}

	.section-more .goods-one .goods-image {
		margin:10px 0 50px;
		padding-left: 45px;
	}
	.section-more .goods-one .goods-content {
        width:unset;
	}
	
	.section-more .goods-one .goods-content .goods-content-wrapper p.goods-copy {
        margin-top: 20px;
        font-size: 17px;
        font-weight: 400;
	}
	
	.section-more .goods-one .goods-for-link {
        margin:6px 15px 17px
	}
	.goods-three-rings {
        padding:25px 0 60px
	}
	.goods-three-rings .goods-content {
        width: 100%;
        margin-bottom:34px
	}
	.goods-three-rings .goods-content-wrapper {
        width: unset;
        padding: 0;
        max-width: 270px;
        margin:0 auto
	}
	.goods-three-rings .goods-for-link {
        margin-top:10px
	}
	.three-rings-img {
        width: 260px;
        height: 260px;
        background-size: 260px 260px;
        background-repeat: no-repeat;
        background-image: url("img/tile_rings__b6fsb8eh4j36_small.jpg")
	}
	.goods-discount .goods-content {
        width:340px
	}
	.base .base-content {
        max-width: 415px
	}
	.second-section .match-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 312px;
        grid-gap: 42px 24px;
        padding:0 20px
	}
	.goods-big-text {
        font-size: 32px;
        font-weight: 600;
	}
	.match-goods-big-text {
        font-size: 19px;
        font-weight: 600;
	}
	.second-section .match-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 312px;
        grid-gap: 42px 24px;
        padding:0 20px
	}
	.second-section .compare-item {
        width:145px
	}
	.second-section .match-goods-se .feature-gps-cellular {
        margin-top:20px
	}
	.second-section .match-goods-se .feature-retina {
        margin-bottom: 0;
        padding-top:20px
	}
	.section.first-section .goods-copy {
        margin-top:24px
	}
	.section.first-section .goods-buy {
        margin-bottom:18px
	}
	.section.first-section .goods.goods-se {
        padding:50px 0
	}
	.section.first-section .goods.goods-se .goods-content {
        padding: 0;
        width:100%
	}
	.section.first-section .goods.goods-se .goods-content-wrapper {
        width:unset
	}
	.section.first-section .goods.goods-se .goods-image {
        padding-right: 0;
        margin-bottom:50px;
        width: 100%;
	}
	.section-more > .applewatch-title {
        max-width: 300px;
        margin:0 auto 20px;
		font-size: 40px;
		font-weight: 600;
	}
	.goods-top-title, .goods-bands .goods-top-title, .goods-top-title, .goods-airpods .goods-top-title, .airpods-only-you .goods-top-title, .goods-three-rings .goods-top-title {
        font-size: 32px;
        font-weight: 600;
	}
	.third-section .goods-diff .goods-image .goods-diff-img {
        width: 414px;
        height: 611px;
        background-size: 414px 611px;
        background-repeat: no-repeat;
        background-image: url("img/tile_watchos7__fs1gp8e4poq6_small_2x.jpg")
	}
	.second-section .fit-apple {
		text-align: center;
		padding: 0 10%;
	}
	.get----items .get---small-text {
		font-size: 16px;
	}

}