ul, li, h1, h2, h3, h4, h5, h6, p, figure, input, button {
    margin: 0;
    padding:0
}

body {
    font-size: 16px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #fff;
    color: #1d1d1f;
    margin: 0;
    padding:0;
    min-width:320px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color:#1d1d1f
}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
    display: block;
    margin:0
}

/* h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + * {
    margin-top: 1rem;
} */

/* h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6, h2 + h1, h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + h6, h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6, h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6, h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6, h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6 {
    margin-top:0.5rem;
} */

nav ul{
    margin: 0;
    list-style:none
}
a {
    color: #06c;
    letter-spacing:inherit
}

a:link, a:visited, .link:link, .link:visited {
    text-decoration:none;
}

a:hover, .link:hover {
    text-decoration:underline;
}

/* .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%
} */

.column {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width:0px;
    margin-left: auto;
    margin-right:auto;
}

/* .large-centered {
    margin-left: auto;
    margin-right:auto;
} */

a.link-area {
    text-decoration:none
}

a.block {
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color:inherit
}

a.block::after {
    clear:both
}

a.block:hover {
    text-decoration:none
}

.button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    min-width: 28px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 18px;
    background: #0071e3;
    color:#fff
}

.button:hover {
    text-decoration:none;
    background:#0077ED;
}

.button:focus {
    box-shadow: 0 0 0 4px rgba(0, 125, 250, 0.6);
    outline: none;
}

.button:active {
    outline:none;
    background:#006EDB;
}

.base {
    overflow: hidden;
    --base-background-color: #f5f5f7;
    --base-text-color: #1d1d1f;
}

.base-area {
    text-align:center
}

.base-content {
    margin-left: auto;
    margin-right: auto;
    width:980px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%
}

@media only screen and (min-width: 1441px) {
    .base-content {
        margin-left: auto;
        margin-right: auto;
        width:980px
    }
}

@media only screen and (max-width: 1068px) {
    .base-content {
        margin-left: auto;
        margin-right: auto;
        width:692px
    }
}

@media only screen and (max-width: 734px) {
    .base-content {
        margin-left: auto;
        margin-right: auto;
        width:87.5%
    }
}

.base .base-area {
    padding-top: .94118em;
    padding-bottom:.94118em
}

.base .base-content {
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -.016em;
}

.base-color .base-area {
    background-color:#0071e3;
}

.base-color .base-content {
    color: #fff;
}

.goods-big-text {
    font-size: 38px;
    font-weight: 600;
}

.goods-reason-big-text {
    font-size: 24px;
    font-weight: 600;
}

@media only screen and (max-width: 1068px) {
    .goods-reason-big-text {
        font-size: 19px;
        font-weight: 600;
    }
}

@media only screen and (max-width: 734px) {
    .goods-reason-big-text {
        font-size: 17px;
        font-weight: 600;
    }
}

.goods-small-text {
    font-size: 21px;
    font-weight: 400;
}


@media only screen and (max-width: 1068px) {
    .goods-small-text {
        font-size: 19px;
        font-weight: 400;
    }

}

@media only screen and (max-width: 734px) {
    .goods-small-text {
        font-size: 17px;
        font-weight: 400;
    }
}

.base-text {
    font-size: 12px;
    font-weight: 400;
}

.main_container {
    overflow:hidden
}

.array {
    background: rgba(245, 245, 247, 0.7);
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    height: 100px;
    z-index: 9987;
    width: 100%;
    position: relative;
}

.array-wrapper {
    position: relative;
    height: 100%;
    z-index:1
}

.array-items {
    margin: 0 34px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    list-style: none;
    padding-bottom:22px;
}

.array-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 -5px;
    padding:0 20px
}

.array-item:first-child {
    margin-left: 0;
    padding-left:4px
}

.array-item:last-child {
    margin-right: 0;
    padding-right:4px
}

.array-icon {
    background: center bottom no-repeat;
    display: block;
    margin: 0 auto 7px;
    height:54px
}

.array-label {
    font-size: 12px;
    font-weight: 400;
    display: block;
    margin:0
}

.array-new {
    font-size: 10px;
    font-weight: 400;
    color: #bf4800;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width:100%
}

.array-link {
    color: #1d1d1f;
    display: block;
    padding: 0;
    margin-top: 3px;
    position: relative;
    z-index:1
}

.array-link:hover {
    color: #06c;
    text-decoration:none
}

.array-link:focus {
    outline-offset:0
}

.get--- {
    color:#1d1d1f
}

.get-goods {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
}

.get----items {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 56px;
    text-align:center;
}

.get----item {
    flex: 1 25%;
    max-width:410px
}

@media only screen and (max-width: 1023px) {
    .get----item {
        flex-basis:50%
    }
}

@media only screen and (max-width: 480px) {
    .get----item {
        flex-basis:100%
    }
}

@media only screen and (max-width: 1023px) {
    .get----item:last-child:nth-child(3) {
        flex-basis:100%
    }
}

.get----item:first-child:nth-last-child(2), .get----item:last-child:nth-child(2) {
    flex-basis:50%
}

@media only screen and (max-width: 480px) {
    .get----item:first-child:nth-last-child(2), .get----item:last-child:nth-child(2) {
        flex-basis:100%
    }
}

.get----item-content {
    margin: 0 auto;
    padding-top: 55px;
    position: relative;
    text-align: center;
    width: 215px;
    z-index:1
}

@media only screen and (max-width: 734px) {
    .get----item-content {
        padding-top:36px;
    }
}

.get----item-icon {
    margin:0 auto;
}

.get----item-icon-financing {
    width: 100%;
    height: 55px;
    background-size: 100% 55px;
    background-repeat: no-repeat;
    background-image: url("img/icon_large.svg")
}

.online-person {
    width: 100%;
    height: 55px;
    background-size: 100% 55px;
    background-repeat: no-repeat;
    background-image: url("img/icon_large.svg")
}

.get----item-icon-shipping {
    width: 100%;
    height: 55px;
    background-size: 100% 55px;
    background-repeat: no-repeat;
    background-image: url("img/icon_large.svg")
}

.get----item-title, .get---small-text, .get---more {
    margin:0
}

.get----item-title {
    font-size: 19px;
    font-weight: 600;
    margin-top:10px;
}


.get---small-text {
    display: block;
    margin-top:10px;
}

.get---small-text + .get---small-text {
    margin-top:10px;
}

.get---more {
    color: #06c;
    margin-top: 10px;
    display:block
}

@media only screen and (max-width: 480px) {
    .get----item:first-child .get----item-content {
        padding-top:35px;
    }
}

.buy-container-top .get----items {
    font-size: 19px;
    font-weight: 400;
}


.buy-container-top .get----item:first-child:nth-last-child(4), .buy-container-top .get----item:first-child:nth-last-child(4) ~ .get----item {
    flex-basis:50%
}

@media only screen and (max-width: 480px) {
    .buy-container-top .get----item:first-child:nth-last-child(4), .buy-container-top .get----item:first-child:nth-last-child(4) ~ .get----item {
        flex-basis:100%
    }
}

@media only screen and (max-width: 480px) {
    .buy-container-top .get----item-content {
        width: 240px;
        padding-left: 0;
        padding-right:0
    }
}

.buy-container-top .get----item-title {
    font-size: 21px;
    font-weight: 600;
    margin-top: 10px;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
    padding: 30px;
    max-width:1440px
}

@media only screen and (max-width: 1068px) {
    .section {
        max-width: 790px;
        padding-left: 20px;
        padding-right:20px
    }
}

@media only screen and (max-width: 734px) {
    .section {
        max-width: 415px;
        padding-left: 0;
        padding-right:0
    }
}

.applewatch-title, .section-cta {
    text-align: center;
    grid-column:span 2
}

.applewatch-title a, .section-cta a {
    color:#06c
}

.goods {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    background: #fafafa;
    text-align:center
}

@media only screen and (max-width: 734px) {
    .goods {
        flex-direction:column
    }
}

.goods-content {
    width:50%
}

/* @media only screen and (max-width: 1068px) {
    .goods-content-wrapper {
        width:370px
    }
} */

@media only screen and (max-width: 734px) {
    .goods-content-wrapper {
        width:unset;
    }
}

.goods-for-link a {
    color:#06c;
}

.goods-buy {
    margin-top:0
}

.goods-image {
    width:50%
}

@media only screen and (max-width: 734px) {
    .goods-image {
        display: flex;
        justify-content: center;
        width:unset
    }
}

.goods .goods-content figure {
    margin-left: auto;
    margin-right:auto
}

.goods.no-image .goods-content {
    width:100%
}

.goods:not(.goods-half) {
    grid-column:span 2
}

.goods-half {
    grid-column:span 1
}

@media only screen and (max-width: 734px) {
    .goods-half {
        grid-column:span 2
    }
}

.goods-half .goods-content {
    width: 100%;
    padding:80px 44px 56px
}

@media only screen and (max-width: 1068px) {
    .goods-half .goods-content {
        padding:58px 0 42px
    }
}

@media only screen and (max-width: 734px) {
    .goods-half .goods-content {
        padding:58px 0 36px
    }
}

.goods-half .goods-content-wrapper {
    width:unset
}

.goods-half .button {
    margin-top:24px
}

.goods-right .goods-content, .goods-bottom .goods-content {
    order:1
}

.goods-right .goods-image, .goods-bottom .goods-image {
    order:2
}

.goods-left .goods-content {
    order:2
}

.goods-left .goods-image {
    order:1
}

@media only screen and (max-width: 734px) {
    .goods-left .goods-content {
        order:1
    }

    .goods-left .goods-image {
        order:2
    }
}

.goods-bottom {
    flex-direction:column
}

.goods-bottom .goods-image {
    width: auto;
    display: flex;
    justify-content:center
}

 .goods-top-title, .goods-bands .goods-top-title, .goods-top-title, .goods-airpods .goods-top-title, .airpods-only-you .goods-top-title, .goods-three-rings .goods-top-title, .goods-research-app .goods-top-title {
    font-size: 48px;
    font-weight: 600;
}

.array {
    padding-top: 12px;
    padding-bottom:12px
}

.array-wrapper {
    position:relative
}

.array-item:first-child {
    margin-left: 0;
    padding:0 9px 0 4px
}

.product-series-5, .product-studio, .product-nike, .product-hermes, .product-edition, .product-series-3, .product-accessories, .product-se {
    padding:0 9px
}

.product-compare {
    padding: 0 16px;
    text-indent:-1px
}

.product-bands {
    padding:0 15px
}

.product-watchos {
    padding:0 26px
}

.array-item:last-child {
    margin-right: 0;
    padding:0 4px 0 9px
}

.array-icon {
    margin: 0 auto 6px;
    margin-bottom:3px
}

.array-label {
    font-size: 11px;
    white-space: normal;
    max-width: 7em;
}

.product-se .array-icon {
    width: 25px;
    height: 54px;
    background-size: 25px 54px;
    background-repeat: no-repeat;
    background-image: url("img/watch_nav_series_2__efs7961t4e2q_large.svg")
}

.product-nike .array-icon {
    width: 25px;
    height: 54px;
    background-size: 25px 54px;
    background-repeat: no-repeat;
    background-image: url("img/watch_nav_nike__bxk9igzhjuuu_large.svg")
}
.product-hermes .array-icon {
    width: 37px;
    height: 54px;
    background-size: 37px 54px;
    background-repeat: no-repeat;
    background-image: url("img/watch_nav_hermes__1cpmu6xs8eq6_large.svg")
}

.product-series-6 .array-icon {
    width: 23px;
    height: 54px;
    background-size: 23px 54px;
    background-repeat: no-repeat;
    background-image: url("img/watch_nav_se__en4ntkxi5guq_large.svg")
}

.product-series-3 .array-icon {
    width: 25px;
    height: 54px;
    background-size: 25px 54px;
    background-repeat: no-repeat;
    background-image: url("img/watch_nav_edition__ctk20b9sq0sy_large.svg")
}

.product-watchos .array-icon {
    width: 35px;
    height: 54px;
    background-size: 35px 54px;
    background-repeat: no-repeat;
    background-image: url("img/watch_nav_watch_os__bv24twycj3aq_large.svg")
}

.product-bands .array-icon {
    width: 17px;
    height: 54px;
    background-size: 17px 54px;
    background-repeat: no-repeat;
    background-image: url("img/watch_nav_bands__fyke1oo6sfyy_large.svg")
}

.product-accessories .array-icon {
    width: 52px;
    height: 54px;
    background-size: 52px 54px;
    background-repeat: no-repeat;
    background-image: url("img/watch_nav_accessories__bu98chbn5rea_large.svg")
}

.product-compare .array-icon {
    width: 71px;
    height: 54px;
    background-size: 71px 54px;
    background-repeat: no-repeat;
    background-image: url("img/watch_nav_compare__b9nnoiqjkxki_large.svg")
}

.product-airpods .array-icon {
    width: 27px;
    height: 54px;
    background-size: 27px 54px;
    background-repeat: no-repeat;
    background-image: url("img/watch_nav_airpods__b481yj4nw0vm_large.svg")
}

.product-accessories .array-icon {
    width: 52px;
    height: 54px;
    background-size: 52px 54px;
    background-repeat: no-repeat;
    background-image: url("img/watch_nav_accessories__bu98chbn5rea_large.svg")
}

.product-studio .array-icon {
    background-size: auto auto;
    background-repeat: no-repeat;
    background-image: url("img/watch_nav_studio__bicst81uptn6_large.svg")
}
@media only screen and (max-width: 1068px) {
    .section-more {
        overflow:visible
    }
}

@media only screen and (max-width: 734px) {
    .section-more {
        overflow:initial
    }
}

.section-more > .applewatch-title {
    font-size: 56px;
    font-weight: 600;
    margin-bottom:58px
}

.section.first-section .goods.goods-se {
    padding: 115px 30px 50px 30px;
}

.section.first-section .goods.goods-se .goods-content {
    padding: 75px 0 74px 0;
    width:100%
}

@media only screen and (max-width: 1068px) {
    .section.first-section .goods.goods-se .goods-content-wrapper {
        width:370px
    }
}

.section.first-section .goods.goods-se .goods-image {
    padding-right:65px
}

@media only screen and (min-width: 735px) and(max-width: 1068px) {
    .section.first-section .goods.goods-se .goods-image {
        margin:auto
    }
}

.image-se-logo {
    width: 132px;
    margin: 0 auto;
    height: 51px;
    background-size: 132px 51px;
    background-repeat: no-repeat;
    background-image: url("img/logo-watch-se__soyna2pegxeq_large_2x.png")
}

@media only screen and (max-width: 1068px) {
    .image-se-logo {
        width: 109px;
        height: 42px;
        background-size: 109px 42px;
        background-repeat: no-repeat;
    }
}

.image-se {
    width: 680px;
    height: 665px;
    background-size: 680px 665px;
    background-repeat: no-repeat;
    background-image: url("img/tile-watch-se__knji2d25x8qe_large_2x.jpg")
}

@media only screen and (max-width: 1068px) {
    .image-se {
        width: 358px;
        height: 350px;
        background-size: 358px 350px;
        background-repeat: no-repeat;
    }
}

.goods-series-6 {
    background: #000;
    padding: 50px 30px;
    flex-flow:row-reverse
}

.goods-series-6 .goods-content {
    padding:145px 0 74px 20px
}

@media only screen and (max-width: 1068px) {
    .goods-series-6 {
        padding:0
    }
    .goods-series-6 .goods-content {
        padding:74px 50px 73px
    }
    .goods-series-6 .goods-content .goods-content, .goods-series-6 .goods-content .goods-image {
        width:initial;
    }
    .goods-series-6 .goods-content-wrapper {
        width:350px;
    }
}

@media only screen and (max-width: 734px) {
    .goods-series-6 {
        flex-flow: column;
        padding:50px 0 0px 0
    }
    .goods-series-6 .goods-content {
        padding: 60px 0;
        width:unset;
    }
    .goods-series-6 .goods-content-wrapper {
        width:unset;
    }
    .section-compare {
        padding:0 0 38px;
    }
}

.goods-series-6 .goods-content h2, .goods-series-6 .goods-content p {
    color:#fff
}

.goods-series-6 .goods-image {
    display: flex;
    justify-content: flex-end;
}

.image-series-6-logo {
    width: 132px;
    height: 51px;
    background-size: 132px 51px;
    background-repeat: no-repeat;
    background-image: url("img/logo_watch_s6__d70ay2jmy0uq_large_2x.png")
}

@media only screen and (max-width: 1068px) {
    .image-series-6-logo {
        width: 108px;
        height: 43px;
        background-size: 108px 43px;
        background-repeat: no-repeat;
        background-image: url("img/logo_watch_s6__d70ay2jmy0uq_large_2x.png");
    }
    .section-compare {
        padding:0 0 52px
    }
}

.image-series-6 {
    width: 464px;
    height: 660px;
    background-size: 464px 660px;
    background-repeat: no-repeat;
    background-image: url("img/tile_watch_s6__bbw92knen8mq_large_2x.jpg")
}

@media only screen and (max-width: 734px) {
    .image-series-6 {
        width: 224px;
        height: 318px;
        background-size: 224px 318px;
        background-repeat: no-repeat;
        background-image: url("img/tile_watch_s6__bbw92knen8mq_small.jpg")
    }
}

@media only screen and (max-width: 734px) and(-webkit-min-device-pixel-ratio: 1.5), only screen and(max-width: 734px) and(min-resolution: 1.5dppx), only screen and(max-width: 734px) and(min-resolution: 144dpi) {
    .image-series-6 {
        background-image: url("img/tile_watch_s6__bbw92knen8mq_small_2x.jpg")
    }
}

.section-compare {
    background: none;
    text-align: center;
    padding:86px 0 52px
}

.section-compare .goods-content {
    width:100%
}

.section-compare .goods-content-wrapper {
    width:unset
}

.section-compare .goods-for-link {
    margin-top:26px
}
.third-section .goods-for-link {
    margin-top: 25px;
}

/* @media only screen and (min-width: 735px) and(max-width: 1068px) and(max-width: 734px) {
    .section-compare .goods-top-title {
        font-size: 28px;
        line-height: 1.14286;
        font-weight: 600;
        letter-spacing: .007em;
    }
} */

@media only screen and (max-width: 1068px) {
     .goods-content {
        width:75%
    }
}

 .pasmo-wrapper {
    width:469px
}

@media only screen and (max-width: 1068px) {
     .pasmo-wrapper {
        width:318px
    }
}
 .goods-copy-alt {
    padding:0 73px
}

@media only screen and (max-width: 1068px) {
     .goods-copy-alt {
        padding:0 29px
    }
}

 .pasmo-wrapper2 {
    width:475px;
}

@media only screen and (max-width: 1068px) {
     .pasmo-wrapper2 {
        width:323px
    }
}


.gift-for-someone {
    display: flex;
    flex-direction: column;
    padding:47px 0 56px
}

@media only screen and (max-width: 1068px) {
    .gift-for-someone {
        flex-direction: row;
        padding:59px 60px 56px 62px
    }
}

.gift-for-someone-content {
    text-align:center
}

@media only screen and (max-width: 1068px) {
    .gift-for-someone-content {
        text-align: left;
        margin-top:-11px
    }
}
.gift-big-text {
    font-size: 3rem;
}

@media only screen and (max-width: 1068px) {
    .gift-big-text {
        font-size: 40px;
        line-height: 1.1;
        font-weight: 600;
        letter-spacing: 0em;
    }
}

.gift-small-text {
    margin-top: 9px;
    margin-bottom:17px
}

@media only screen and (max-width: 1068px) {
    .gift-small-text {
        font-size: 17px;
        line-height: 1.47059;
        font-weight: 400;
        letter-spacing: -.022em;
    }
}

.third-section .goods-diff {
    flex-flow: column;
    overflow:hidden
}

html.text-zoom .third-section .goods-diff {
    background:#000
}

.third-section .goods-diff .goods-content {
    order: 2;
    margin-top: -306px;
    width: 100%;
    z-index:1
}

.third-section .goods-diff .goods-content .goods-top-title {
    color:#fff
}

.third-section .goods-diff .goods-content .goods-copy {
    margin: 10px 0;
    color:#fff
}

.third-section .goods-diff .goods-content .goods-for-link {
    margin-top:0
}

.third-section .goods-diff .goods-content .goods-for-link a {
    color:#2997ff
}

.third-section .goods-diff .goods-content .goods-content-wrapper {
    width: 422px;
    padding-bottom:75px;
    margin: 0 auto;
}

.third-section .goods-diff .goods-image {
    display: block;
    order: 1;
    width:100%
}

.third-section .goods-diff .goods-image .goods-diff-img {
    width: 1380px;
    height: 675px;
    background-size: 1380px 675px;
    background-repeat: no-repeat;
    background-image: url("img/tile_watchos7__fs1gp8e4poq6_large_2x.jpg");
    position: relative;
    left: 50%;
    margin-left:-690px
}

/* @media only screen and (max-width: 734px) and(-webkit-min-device-pixel-ratio: 1.5), only screen and(max-width: 734px) and(min-resolution: 1.5dppx), only screen and(max-width: 734px) and(min-resolution: 144dpi) {
    .third-section .goods-diff .goods-image .goods-diff-img {
        background-image: url("img/tile_watchos7__fs1gp8e4poq6_small_2x.jpg")
    }
} */

@media only screen and (min-width: 735px) and(max-width: 1068px) {
    .third-section .goods-diff .goods-image .goods-diff-img {
        background-repeat: no-repeat;
        background-image: url("img/tile_watchos7__fs1gp8e4poq6_large_2x.jpg");
        background-size: cover;
        left: 0;
        margin-left: 0;
        width:100%
    }
}

@media only screen and (min-width: 735px) and(max-width: 1068px) {
    .third-section .goods-diff .goods-image .goods-diff-img::after {
        content: '';
        display: block;
        padding-bottom:50%
    }
}

@media only screen and (min-width: 735px) and(max-width: 1068px) and(max-width: 1068px) {
    .third-section .goods-diff .goods-image .goods-diff-img::after {
        content: '';
        display: block;
        padding-bottom:65%;
    }
}

.third-section .goods-diff2 {
    min-height:675px
}

@media only screen and (max-width: 1068px) {
    .third-section .goods-diff2 {
        min-height:445px
    }
}

.goods-reason {
    justify-content: flex-end;
    width:100%
}

@media only screen and (max-width: 1068px) {
    .goods-reason {
        display:block
    }
}

.goods-reason .goods-content {
    margin: 0 60px;
    max-width: 470px;
    width:100%
}

@media screen and (min-width: 1069px) and(max-width: 1200px) {
    .goods-reason .goods-content {
        margin:0 25px
    }
}

@media only screen and (max-width: 1068px) {
    .goods-reason .goods-content {
        margin-left: 0;
        margin-right: 0;
        margin-top: 45px;
        max-width:100%
    }
}

.goods-reason .goods-content .goods-content-wrapper {
    width:100%
}

.goods-reason .goods-content .goods-copy {
    margin-top:10px
}

.goods-reason .goods-image {
    align-items: flex-end;
    display: flex;
    position: relative;
    margin-top: 159px;
    height: 100%;
    width:785px
}

@media screen and (min-width: 1201px) and(max-width: 1400px) {
    .goods-reason .goods-image {
        margin-right:-60px
    }
}

@media screen and (min-width: 1069px) and(max-width: 1200px) {
    .goods-reason .goods-image {
        margin-right:-85px
    }
}

@media only screen and (max-width: 1068px) {
    .goods-reason .goods-image {
        display: block;
        margin-top: 75px;
        width:100%
    }
}

.goods-reason .goods-reason-image {
    width: 785px;
    height: 518px;
    background-size: 785px 518px;
    background-repeat: no-repeat;
    background-image: url("img/tile_why_watch__bzxlfokkvj36_large_2x.jpg")
}

.fourth-section .applewatch-title {
    padding-top: 75px;
    padding-bottom: 43px;
    font-size: 56px;
    font-weight: 600;
}

.fourth-section .goods-bands {
    margin-top:0
}

@media only screen and (max-width: 734px) {
    .fourth-section .goods-bands .goods-content {
        width:100%
    }
}

.fourth-section .goods-bands .goods-for-link {
    margin-top:27px
}

@media only screen and (max-width: 1068px) {
    .fourth-section .goods-bands .goods-for-link {
        margin-top:18px
    }
}

@media only screen and (max-width: 1068px) {
    .fourth-section .goods-bands .image-bands {
        width: 362px;
        height: 290px;
        background-size: 362px 290px;
        background-repeat: no-repeat;
        background-image: url("img/tile_bands_fall__s60wt74h9aqa_large_2x.jpg")
    }
}
@media only screen and (max-width: 734px) {
    .fourth-section .goods-bands .image-bands {
        width: 414px;
        height: 290px;
        background-size: 414px 290px;
        background-repeat: no-repeat;
        background-image: url("img/tile_bands_fall__s60wt74h9aqa_small_2x.jpg")
    }
}

.fourth-section .goods-bands .new-band-img {
    width: 678px;
    height: 427px;
    background-size: 678px 427px;
    background-repeat: no-repeat;
    background-image: url("img/tile_bands_winter__dr3z2qgi0z2a_large_2x.jpg")
}

@media only screen and (max-width: 734px) {
    .fourth-section .goods-bands .goods-for-link {
        width:auto
    }
}

@media only screen and (max-width: 734px) {
    .airpods-only-you .goods-content {
        width:100%
    }
}

.airpods-only-you .goods-content .goods-copy {
    margin: 20px auto 24px;
    max-width:300px
}

@media only screen and (max-width: 1068px) {
    .airpods-only-you .goods-content .goods-copy {
        margin: 18px auto 21px;
        padding:0 40px
    }
}

@media only screen and (max-width: 734px) {
    .airpods-only-you .goods-content .goods-copy {
        padding:0 50px
    }
}

.airpods-only-you .goods-content .goods-for-link {
    display: inline-block;
    margin-top:0
}

.airpods-only-you .goods-content .goods-for-link:nth-of-type(3) {
    margin-left:20px
}

@media only screen and (max-width: 734px) {
    .airpods-only-you .goods-content .goods-for-link:nth-of-type(3) {
        margin-left:22px
    }
}

.airpods-only-you .airpods-only-you-img {
    width: 622px;
    height: 305px;
    background-size: 622px 305px;
    background-repeat: no-repeat;
    background-image: url("img/tile_airpods_engraving__bp9qmvld3s1y_large_2x.jpg");
    position: relative;
    left: 50%;
    margin-left: -311px;
    margin-top: 85px;
    margin-bottom:73px
}

@media only screen and (max-width: 1068px) {
    .airpods-only-you .airpods-only-you-img {
        width: 321px;
        height: 159px;
        background-size: 321px 159px;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width: 734px) {
    .airpods-only-you .airpods-only-you-img {
        width: 321px;
        height: 159px;
        background-size: 321px 159px;
        background-repeat: no-repeat;
        background-image: url("img/tile_airpods_engraving__bp9qmvld3s1y_small.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .airpods-only-you .airpods-only-you-img {
        left: 50%;
        margin-left:-160px
    }
}

@media only screen and (max-width: 734px) {
    .airpods-only-you .airpods-only-you-img {
        left: 50%;
        margin-left:-160px
    }
}

@media only screen and (max-width: 1068px) {
    .airpods-only-you .airpods-only-you-img {
        margin-top: 66px;
        margin-bottom:89px
    }
}

@media only screen and (max-width: 734px) {
    .airpods-only-you .airpods-only-you-img {
        margin-top: 28px;
        margin-bottom:43px
    }
}

.fifth-section .goods {
    background: transparent;
    max-width: none;
    width: 100%;
    box-sizing:border-box
}

@media only screen and (max-width: 1068px) {
    .fifth-section .goods {
        padding:0
    }
}

.fifth-section .get----items {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap:nowrap
}

@media only screen and (max-width: 734px) {
    .fifth-section .get----items {
        display:block
    }
}

.fifth-section .get----item {
    flex: 1;
    flex-basis:auto
}

.fifth-section .get----item:last-child:nth-child(3) {
    flex-basis:auto
}

.fifth-section .get----item-icon {
    background-size: auto 100%;
    background-position: center;
    height:90px
}

.fifth-section .get----item-content {
    max-width: 294px;
    width: 100%;
    box-sizing:border-box
}

.fifth-section .online-person {
    background-size:auto 84px
}

.fifth-section .get----item-icon-financing {
    background-size:auto 85px
}

.fifth-section .get----item-icon-shipping {
    background-size:auto 90px
}

.goods-apple-music {
    margin-top:0
}

.goods-apple-music .goods-image {
    position: absolute;
    top: 0;
    z-index:0
}

@media only screen and (max-width: 1068px) {
    .goods-apple-music .goods-image {
        top: initial;
        width:100%
    }
}

.goods-apple-music .goods-image .apple-music-img {
    width: 675px;
    height: 721px;
    background-size: 675px 721px;
    background-repeat: no-repeat;
    background-image: url("img/tile-apple-music__eukr7jdumumq_large_2x.jpg");
    left: 50%;
}

@media only screen and (max-width: 734px) {
    .goods-apple-music .goods-image .apple-music-img {
        width: 414px;
        height: 500px;
        background-size: 414px 650px;
        background-repeat: no-repeat;
        background-image: url("img/tile-apple-music__eukr7jdumumq_small_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .goods-apple-music .goods-image .apple-music-img {
        background-repeat: no-repeat;
        background-image: url("img/tile-apple-music__eukr7jdumumq_large_2x.jpg");
        background-size: 120%;
        width:100%;
        background-position: bottom;
        height: 550px;
    }
}

@media only screen and (max-width: 1068px) {
    .goods-apple-music .goods-image .apple-music-img::after {
        content: '';
        display: block;
        padding-bottom:105%
    }
}

@media only screen and (max-width: 1068px) and(max-width: 734px) {
    .goods-apple-music .goods-image .apple-music-img {
        background-repeat: no-repeat;
        background-image: url("img/tile-apple-music__eukr7jdumumq_small_2x.jpg");
        background-size:cover
    }
}

@media only screen and (max-width: 1068px) and(max-width: 734px) {
    .goods-apple-music .goods-image .apple-music-img::after {
        content: '';
        display: block;
        padding-bottom:160%
    }
}

.goods-apple-music .goods-content {
    z-index: 1;
    padding-top:90px
}

@media only screen and (max-width: 1068px) {
    .goods-apple-music .goods-content {
        padding:0
    }
}

@media only screen and (max-width: 734px) {
    .goods-apple-music .goods-content {
        height:550px;
    }
}

@media only screen and (max-width: 1068px) {
    .goods-apple-music .goods-content-wrapper {
        padding-top:64px
    }
}

@media only screen and (max-width: 734px) {
    .goods-apple-music .goods-content-wrapper {
        padding-top:61px
    }
}

.goods-apple-music .goods-copy {
    margin-top:26px
}

@media only screen and (max-width: 1068px) {
    .goods-apple-music .goods-copy {
        margin-top:17px
    }
}

@media only screen and (max-width: 734px) {
    .goods-apple-music .goods-copy {
        font-size: 1.5rem;
        font-weight: 600;
        margin-top:20px
    }

}

@media only screen and (max-width: 734px) and(max-width: 1068px) {
    .goods-apple-music .goods-copy {
        font-size: 40px;
        font-weight: 600;
    }

}

@media only screen and (max-width: 734px) {
    .goods-apple-music .goods-copy br.small {
        display:block
    }
}

.goods-apple-music .goods-for-link {
    display: inline-block;
    margin-top:16px
}


@media only screen and (max-width: 734px) {
    .goods-apple-music .goods-for-link {
        display:inline-block
    }
}

.goods-apple-music .goods-for-link .icon {
    color:#06c
}

.apple-music-logo {
    width: 161px;
    height: 40px;
    background-size: 161px 40px;
    background-repeat: no-repeat;
    background-image: url("img/logo-apple-music__d3g9jd3q6d26_large_2x.png")
}

@media only screen and (max-width: 734px) {
    .apple-music-logo {
        width: 115px;
        height: 28px;
        background-size: 115px 28px;
        background-repeat: no-repeat;
        background-image: url("img/logo-apple-music__d3g9jd3q6d26_small.png")
    }
}

@media only screen and (max-width: 734px) {
    .section-more .goods-one {
        padding-top:50px
    }
}

.section-more .goods-one .one-logo-img {
    width: 317px;
    height: 100px;
    background-size: 317px 100px;
    background-repeat: no-repeat;
    background-image: url("img/logo-apple-one__cwtz6e3tcscy_large_2x.png")
}

@media only screen and (max-width: 734px) {
    .section-more .goods-one .one-logo-img {
        width: 84px;
        height: 28px;
        background-size: 84px 28px;
        background-repeat: no-repeat;
        background-image: url("img/logo-apple-one__cwtz6e3tcscy_small.png")
    }
}

.section-more .goods-one .goods-image {
    display: flex;
    justify-content: flex-end;
    margin:97px 0 71px
}

@media only screen and (min-width: 1069px) {
    .section-more .goods-one .goods-image {
        min-width:542px
    }
}

.section-more .goods-one .goods-image .one-img {
    width: 542px;
    height: 329px;
    background-size: 542px 329px;
    background-repeat: no-repeat;
    background-image: url("img/tile_apple_one__dv857y6v8dyu_large_2x.jpg")
}

.section-more .goods-one .goods-content .goods-content-wrapper {
    width:unset
}

.section-more .goods-one .goods-content .goods-content-wrapper p.goods-copy {
    font-size: 24px;
    font-weight: 600;
}


@media only screen and (max-width: 1068px) {
    .section-more .goods-one .goods-content .goods-content-wrapper p.goods-copy {
        font-size: 21px;
        font-weight: 600;
    }

}

.section-more .goods-one .goods-for-link {
    display: inline-block;
    margin:30px 15px 0
}

.goods-three-rings {
    background: #000;
    padding:60px 0
}

.goods-three-rings .goods-content {
    flex: 1;
    padding-top:30px
}
.goods-three-rings .goods-content-wrapper {
    width:100%
}

.goods-three-rings .goods-top-title, .goods-three-rings .goods-copy {
    color:#fff
}

.goods-three-rings .goods-for-link a {
    color:#2997ff
}

.goods-three-rings .goods-image {
    display: flex;
    justify-content:center
}

.three-rings-img {
    width: 379px;
    height: 382px;
    background-size: 379px 382px;
    background-repeat: no-repeat;
    background-image: url("img/tile_rings__b6fsb8eh4j36_large_2x.jpg")
}

.goods-discount {
    background: none;
    display:block
}

.goods-discount .goods-content {
    margin: auto;
    width:370px
}

.section.first-section {
    grid-row-gap: 40px;
    overflow:visible
}

@media only screen and (max-width: 1068px) {
    .section.first-section {
        grid-row-gap:20px
    }
}

.section.first-section .goods-buy {
    display: inline-block;
    margin-bottom:24px
}

.section.first-section .goods-copy {
    margin-top:34px
}

@media only screen and (max-width: 1068px) {
    .section.first-section .goods-price {
        margin:14px auto 30px
    }
}

@media only screen and (max-width: 734px) {
    .section.first-section .goods-price {
        margin-bottom:20px
    }
}

.section.first-section .goods-for-link {
    display: inline-block;
    margin-left:20px
}

.base .base-area {
    padding:9px 0
}

.base .base-content {
    max-width:1440px
}

@media only screen and (max-width: 734px) {
    .goods-big-text {
        font-size: 32px;
        font-weight: 600;
    }
}

.match-goods-big-text {
    font-size: 21px;
    font-weight: 600;
}


@media only screen and (max-width: 734px) {
    .match-goods-big-text {
        font-size: 19px;
        font-weight: 600;
    }

}

.second-section .match-container button.buy-link, .second-section .match-container a.buy-link {
    display:inline-block
}

.second-section .match-container .buy-link {
    margin:23px 0 19px
}

@media only screen and (max-width: 734px) {
    .second-section .compare-item {
        width:145px
    }
}

.goods-match-text {
    font-size: 24px;
    font-weight: 400;
}

@media only screen and (max-width: 1068px) {
    .goods-match-text {
        font-size: 21px;
        font-weight: 400;
    }
}

.goods-char {
    font-size: 14px;
    font-weight: 400;
}

.second-section ul {
    margin: 0;
    list-style-type:none
}

.second-section .section-wrapper {
    padding:50px 0 0
}

@media only screen and (max-width: 1068px) {
    .second-section .match-goods-title {
        font-size: 15px;
        font-weight: 400;
    }

}

.second-section .compare-price {
    font-weight: 600;
    margin-top:-4px
}

.second-section .match-goods-points {
    margin-top:17px;
}

.second-section .match-container {
    display: flex;
    justify-content: center;
    margin:57px auto
}

@media only screen and (max-width: 1068px) {
    .second-section .match-container {
        justify-content: space-between;
        max-width:645px
    }
}

.second-section .match-container .match-goods-img {
    margin:0 auto 30px
}

.second-section .match-container .buy-wrapper-link a {
    display:inline-block;
}

.second-section .compare-item {
    padding: 0 40px;
    width:250px
}

@media only screen and (max-width: 1068px) {
    .second-section .compare-item {
        width: 176px;
        padding:0
    }
}

.second-section .feature-item {
    color: #6e6e73;
    margin-bottom:20px
}

.second-section .feature-null {
    position:relative
}

.second-section .feature-null:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 15px;
    height: 1px;
    background:#6e6e73
}

.second-section .feature-gps-cellular, .second-section .feature-heart-rate {
    margin-bottom:0
}

.second-section .match-goods-se .match-goods-img {
    width: 200px;
    height: 240px;
    background-size: 200px 240px;
    background-repeat: no-repeat;
    background-image: url("img/compare_se__crebhd9hhdea_large_2x.jpg")
}

@media only screen and (max-width: 734px) {
    .second-section .match-goods-se .match-goods-img {
        width: 125px;
        height: 150px;
        background-size: 125px 150px;
        background-repeat: no-repeat;
        background-image: url("img/compare_se__crebhd9hhdea_small_2x.jpg");
    }
}

.second-section .match-goods-series-3 .match-goods-img {
    width: 190px;
    height: 238px;
    background-size: 190px 238px;
    background-repeat: no-repeat;
    background-image: url("img/compare_s3__clzj8ukygo5e_large_2x.jpg")
}
.second-section .fit-apple {
    text-align: center;
}
.third-section .gift-img-wrapper {
    width: 100%;
}

@media only screen and (max-width: 734px) {
    .second-section .match-goods-series-3 .match-goods-img {
        width: 120px;
        height: 150px;
        background-size: 120px 150px;
        background-repeat: no-repeat;
        background-image: url("img/compare_s3__clzj8ukygo5e_small_2x.jpg")
    }
}

.second-section .match-goods-series-6 .match-goods-img {
    width: 203px;
    height: 238px;
    background-size: 203px 238px;
    background-repeat: no-repeat;
    background-image: url("img/compare_s6__evsi0wlzp4ya_large_2x.jpg")
}

@media only screen and (max-width: 734px) {
    .second-section .match-goods-series-6 .match-goods-img {
        width: 130px;
        height: 150px;
        background-size: 130px 150px;
        background-repeat: no-repeat;
        background-image: url("img/compare_s6__evsi0wlzp4ya_small_2x.jpg")
    }
}