html,
body {
    margin: 0;
    padding: 0;
}

#ac-globalnav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    max-height: 50px;
    background: rgba(0, 0, 0, 0.92);
    font-size: 16px;
    text-size-adjust: 100%;
}
@media only screen and (max-width: 767px) {
    #ac-globalnav {
        min-width: inherit;
    }
}

#ac-gn-placeholder {
    height: 45px;
}

#ac-globalnav .ac-gn-content {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 25px;
    position: relative;
    z-index: 2;
}

@media only screen and (max-width: 767px) {
    #ac-globalnav .ac-gn-content {
        padding: 0;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
    }
}

#ac-globalnav .ac-gn-header {
    display: none;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    /* overflow: hidden; */
}

#ac-globalnav .ac-gn-header .ac-gn-apple {
    position: absolute;
    width: 50px;
    top: 0;
    left: 45%;
    z-index: 1
}

@media only screen and (max-width: 767px) {
    #ac-globalnav .ac-gn-header {
        display: block
    }
    #ac-globalnav .ac-gn-header .ac-gn-apple {
        display: block
    }
    #ac-globalnav .ac-gn-header .ac-gn-bag-small {
        float: right;
        display: block;
        position: relative;
    }
}

#ac-globalnav .ac-gn-list {
    height: 45px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 767px) {
    #ac-globalnav .ac-gn-list {
        display: block;
        position: absolute;
        z-index: 1;
        top: 3.5rem;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 664px;
        margin: 0 auto;
        padding: 45px 40px 8px;
        height: auto;
        box-sizing: border-box;
        overflow-y: auto;
        visibility: hidden;
        transition: visibility 0s linear 1s
    }
    #ac-globalnav.menu-opening .ac-gn-list,
    #ac-globalnav.menu-closing .ac-gn-list {
        overflow: hidden
    }
}

@media only screen and (max-width: 767px) {
    #ac-globalnav .ac-gn-item {
        width: 100%;
        height: 50px;
    }
}

@media only screen and (max-width: 767px) {
    #ac-globalnav .ac-gn-item-menu {
        opacity: 0;
        pointer-events: none
    }
    #ac-globalnav .ac-gn-item-menu:nth-child(2) {
        transform: translateY(-44px);
        padding-top: 1px
    }
    #ac-globalnav .ac-gn-item-menu:nth-child(3) {
        transform: translateY(-40px);
    }
    #ac-globalnav .ac-gn-item-menu:nth-child(3)::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #424245
    }
    #ac-globalnav .ac-gn-item-menu:nth-child(4) {
        transform: translateY(-36px);
    }
    #ac-globalnav .ac-gn-item-menu:nth-child(4)::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #424245
    }
    #ac-globalnav .ac-gn-item-menu:nth-child(5) {
        transform: translateY(-32px);
    }
    #ac-globalnav .ac-gn-item-menu:nth-child(5)::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #424245
    }
    #ac-globalnav .ac-gn-item-menu:nth-child(6) {
        transform: translateY(-28px);
    }
    #ac-globalnav .ac-gn-item-menu:nth-child(6)::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #424245
    }
    #ac-globalnav .ac-gn-item-menu:nth-child(7) {
        transform: translateY(-24px);
    }
    #ac-globalnav .ac-gn-item-menu:nth-child(7)::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #424245
    }
    #ac-globalnav .ac-gn-item-menu:nth-child(8) {
        transform: translateY(-20px);
    }
    #ac-globalnav .ac-gn-item-menu:nth-child(8)::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #424245
    }
}
@media only screen and (max-width: 767px) {
    #ac-globalnav .ac-gn-bag {
        right: 0;
        display: none;
        position: absolute;
        top: 0;
        width: auto;
        z-index: 1
    }
}

#ac-globalnav .ac-gn-search-small {
    display: none
}

@media only screen and (max-width: 767px) {
    #ac-globalnav .ac-gn-apple {
        display: none
    }
}

#ac-globalnav .ac-gn-link {
    font-size: 14px;
    font-weight: 400;
    color: #f5f5f7;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 10px;
    height: 50px;
    opacity: .8;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: .56
}

@media only screen and (max-width: 767px) {
    #ac-globalnav .ac-gn-link {
        font-size: 1rem;
        font-weight: 400;
    }
}

#ac-globalnav .ac-gn-bag-wrapper {
    cursor: pointer;
    height: 100%;
    opacity: .8;
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

#ac-globalnav .ac-gn-link-bag {
    opacity: 1
}

@media only screen and (max-width: 767px) {
    #ac-globalnav .ac-gn-item-menu .ac-gn-link {
        background-position: left center;
        display: block;
        outline-offset: 0;
        padding: 0;
        width: auto;
        max-width: none
    }
}

#ac-globalnav .ac-gn-link-apple {
    background-size: 16px 44px;
    background-repeat: no-repeat;
    background-image: url("img/globalnav_apple_image__cxwwnrj0urau_large.svg");
    background-position: center center;
    width: 16px
}

@media only screen and (max-width: 767px) {
    #ac-globalnav .ac-gn-link-apple {
        background-size: 18px 50px;
        background-repeat: no-repeat;
        background-image: url("img/globalnav_apple_image__cxwwnrj0urau_small.svg");
        width: 18px;
    }
}

#ac-globalnav .ac-gn-link-mac {
    background-size: 26px 44px;
    background-repeat: no-repeat;
    background-image: url("img/globalnav_links_mac_image__fv4ktb435mum_large.svg");
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 1.85714em;
    max-width: 44.2px
}

#ac-globalnav .ac-gn-link-ipad {
    background-size: 27px 44px;
    background-repeat: no-repeat;
    background-image: url("img/globalnav_links_ipad_image__fefum478f4uq_large.svg");
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 1.92857em;
    max-width: 45.9px
}

#ac-globalnav .ac-gn-link-iphone {
    background-size: 44px 44px;
    background-repeat: no-repeat;
    background-image: url("img/globalnav_links_iphone_image__dhepc4hn14cy_large.svg");
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 3.14286em;
    max-width: 74.8px
}

#ac-globalnav .ac-gn-link-watch {
    background-size: 40px 44px;
    background-repeat: no-repeat;
    background-image: url("img/globalnav_links_watch_image__dfo5u4bhooqe_large.svg");
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 2.85714em;
    max-width: 68px
}

#ac-globalnav .ac-gn-link-tv {
    background-size: 18px 44px;
    background-repeat: no-repeat;
    background-image: url("img/globalnav_links_tv_image__dtzdy60o3imq_large.svg");
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 1.28571em;
    max-width: 30.6px
}

#ac-globalnav .ac-gn-link-music {
    background-size: 37px 44px;
    background-repeat: no-repeat;
    background-image: url("img/globalnav_links_music_image__bewxrazzig02_large.svg");
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 2.64286em;
    max-width: 62.9px;
}

#ac-globalnav .ac-gn-link-support {
    background-size: 42px 45px;
    background-repeat: no-repeat;
    background-image: url("img/globalnav_links_support_image__b24reo1n4fbm_large.svg");
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 3em;
    max-width: 71.4px;
}

#ac-globalnav .ac-gn-link-bag {
    background-size: 1rem 44px;
    background-repeat: no-repeat;
    background-image: url("img/globalnav_bag_image__bmix8075eg4i_large.svg");
    background-position: center center;
    width: 1rem;
}

@media only screen and (max-width: 767px) {
    #ac-globalnav .ac-gn-link-bag {
        background-size: 1rem 50px;
        background-repeat: no-repeat;
        width: 1rem;
        background-image: url("img/globalnav_bag_image__bmix8075eg4i_small.svg")
    }
}

#ac-globalnav .ac-gn-menuicon {
    left: 0;
    position: absolute;
    z-index: 2;
    top: 0;
    width: 48px;
    border-bottom: none
}

#ac-globalnav .ac-gn-menuicon-label {
    display: block;
    position: absolute;
    opacity: .8;
    z-index: 3;
    top: 0;
    width: 48px;
    height: 48px;
    cursor: pointer;
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

#ac-globalnav.touch .ac-gn-menuicon-label {
    opacity: 1;
    transition: none
}

#ac-globalnav .ac-gn-menuicon-bread {
    position: absolute;
    z-index: 3;
    top: 9px;
    left: 9px;
    width: 30px;
    height: 30px;
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1)
}

#ac-globalnav .ac-gn-menuicon-bread-top {
    z-index: 4;
    transform: none;
}
/* #ac-globalnav .ac-gn-menuicon-bread-crust-top {
    top: 14px;
} */

#ac-globalnav .ac-gn-menuicon-bread-crust-bottom {
    transform: none;
    bottom: 7px;
}

#ac-globalnav .ac-gn-menuicon-bread-crust {
    display: block;
    width: 1rem;
    height: 1px;
    background: #fff;
    border-radius: 0.5px;
    position: absolute;
    left: 7px;
    z-index: 1;
}
#ac-globalnav .ac-gn-menuicon-bread-crust-top {
    top: 14px;
    transform: translateY(-3px);
}

#ac-globalnav .ac-gn-bag {
    z-index: 2
}